body {
	padding: 16px;
	background-color: #111111;
	color: #FFFFFF;
}

div {
	border-radius: 4px;
	outline-style: outset;
}

th,
td {
	padding: 5px;
	text-align: center;
	border: 1px solid #666666;
}

tr:hover {
	background-color: #888888;
}

table {
	border: 1px solid #FFFFFF;
}